html,
body {
  height: 100%;
}
nav {
  background-color: #D0D0D0;
}
nav .navbar-nav a {
  font-size: 0.7rem;
  letter-spacing: 0.25rem;
}
nav .navbar-nav .fa-search {
  font-size: 1.5rem;
}
#header {
  background-color: #D8D8D8;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ls {
  letter-spacing: 0.25rem;
}
.txt-sm {
  font-size: 0.7rem;
}
h1 {
  line-height: 1.4;
}
.p-intro {
  line-height: 2;
}
.why-div .left-div {
  background-color: #D8D8D8;
  background-image: url("../img/photo1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}
.why-div .right-div {
  background-color: #F5F5F5;
}
.filters-button-group button {
  color: #3498DB;
  font-size: 0.75rem;
  text-decoration: none;
}
a#scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
@media (max-width: 992px) {
  a#scroll-down {
    bottom: 0;
  }
}
a#scroll-down:hover {
  opacity: .5;
}
a#scroll-down {
  padding-top: 70px;
}
a#scroll-down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 34px;
  height: 34px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  a#scroll-down span {
    width: 24px;
    height: 24px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
button.navbar-toggler:focus {
  outline: none;
}
